WebAPI_NauticoSport/.vs/WebAPI_NauticoSport/FileContentIndex/2b5f79d8-0d62-4d2a-baee-2937036e543a.vsidx
WebAPI_NauticoSport/.vs/WebAPI_NauticoSport/FileContentIndex/c7ea2ce8-18b6-42c1-a843-5d5d3e00e8af.vsidx
