
<span>PAGINA SOCIOS</span>
<table>
    <li>
        <tr>
            <td><a routerLink="./register">register</a></td>
        </tr>
        <tr>
            <td><a routerLink="./eliminate">eliminate</a></td>
        </tr>
        <tr>
            <td><a routerLink="./modify">modify</a></td>
        </tr>
        <tr>
            <td><a routerLink="./list">list</a></td>
        </tr>
        <tr>
            <td><a routerLink="./detail">detail</a></td>
        </tr>
    </li>
</table>
<div>
    <router-outlet></router-outlet>
</div>