input {
    padding-top: 2vh;
    padding-bottom:  2vh;
    padding-left:  3vh;
    padding-right:  3vh;
    max-height: 1000px;
    margin-bottom: 2vh;
    
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border:1px solid #ffffff;
    background-color: #ffffff00;

    width: 100%;
    color-scheme: dark;
}

input::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #00000071;
    background-color: #000000af;
    color: rgb(255, 255, 255);
}

input:hover {
    outline: none !important;
    box-shadow: 0 0 10px #00000071;
    background-color: #000000af;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

select {
    display: block;

    padding-top: 2vh;
    padding-bottom:  2vh;
    padding-left:  3vh;
    padding-right:  3vh;
    max-height: 60px;
    margin-bottom: 2vh;
        
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border:1px solid #ffffff;
    background-color: #ffffff00;
    
    width: 100%;

    option {
        background-color: #000000;
        color: rgb(255, 255, 255);
    }
    option:active{
        background-color: #fc0000;
        color: rgb(255, 255, 255);
    }
}

select:focus {
    outline: none !important;
    box-shadow: 0 0 10px #00000071;
    background-color: #000000af;
    color: rgb(255, 255, 255);
}

select:hover {
    cursor: pointer;
    outline: none !important;
    box-shadow: 0 0 10px #00000071;
    background-color: #000000af;
    color: rgb(255, 255, 255);
}


label {
    color:rgb(211, 211, 211);
    span {
        display: block;
        padding-left: 1vw;
    }
}

@media (max-width: 1024px) { //notebook
    input {
        border-radius: 100px;
        
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}

@media (max-width: 768px) { //tablet
    input {
        border-radius: 100px;
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}

@media (max-width: 425px) { //cellphone lg
    input {
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }

    select {
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}

@media (max-width: 375px) { //cellphone md
    input {
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }

    select {
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}

@media (max-width: 320px) { //cellphone sm
    input {
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }

    select {
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}