

<div class="d-flex justify-content-center w-100">
    <label class="w-100">
        <span>{{ label_text | translate }}</span>

        <input 
            class="form-control mb-2 mr-sm-2"
            *ngIf="!isSelect" 
            #myInput 
            type="{{ type }}" 
            value="{{ value }}" 
            (change)="setValue(myInput.value)">
        
        <select 
            class="pl-5" 
            *ngIf="isSelect" 
            #mySelector 
            (change)="setValue(mySelector.value)">
            <option 
                selected 
                disabled 
                hidden>{{ select_default_text | translate }}</option>
            <option 
                *ngFor="let item of select_items" 
                value="{{ item.value }}"> {{ item.text | translate }} </option>
        </select>
    </label>
</div>