input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    border:1px solid #E21818;

    margin-bottom: 3vh;
}

::placeholder {
    color: #E21818;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}