input {
    padding-top: 2vh;
    padding-bottom:  2vh;
    padding-left:  3vh;
    padding-right:  3vh;
    max-height: 1000px;
    margin-bottom: 2vh;
    
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border:1px solid #ffffff;
    background-color: #ffffff00;

    width: 18vw;
}

::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #00000071;
    background-color: #000000af;
    color: rgb(255, 255, 255);
}

@media (max-width: 1024px) { //notebook
    input {
        width: 25vw;
        border-radius: 100px;
        
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}

@media (max-width: 768px) { //tablet
    input {
        width: 30vw;
        border-radius: 100px;
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}

@media (max-width: 425px) { //cellphone lg
    input {
        width: 60vw;
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}

@media (max-width: 375px) { //cellphone md
    input {
        width: 70vw;
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}

@media (max-width: 320px) { //cellphone sm
    input {
        width: 70vw;
        padding-top: 1.5vh;
        padding-bottom:  1.5vh;
        padding-left:  3vh;
        padding-right:  3vh;
        
        color: rgb(255, 255, 255);
        border-radius: 12px;
        border:1px solid #ffffff;
        background-color: #ffffff00;
    }
}