
<div class="container">
    <div class="row">
        <div class="col-12 container">
            <form class="text-center row">
                <app-input-custom 
                    placeholder="inputs.name.placeholder" 
                    type="text" aria-sort=""
                    value="{{name}}"
                    class="col-6">
                </app-input-custom>
                
                <app-input-custom 
                    placeholder="inputs.lastname.placeholder" 
                    type="text" 
                    value="{{lastname}}"
                    class="col-6">
                </app-input-custom>

                <app-input-custom 
                    placeholder="inputs.username.placeholder" 
                    type="text" 
                    value="{{username}}"
                    class="col-6">
                </app-input-custom>

                <app-input-custom 
                    placeholder="inputs.document_number.placeholder" 
                    type="text" 
                    value="{{document_number}}"
                    class="col-6">
                </app-input-custom>
                
                <app-input-custom 
                    placeholder="inputs.password.placeholder" 
                    type="text" 
                    value="{{password}}"
                    class="col-6">
                </app-input-custom>
                
                <app-input-custom 
                    placeholder="inputs.repeatedPassword.placeholder" 
                    type="text" 
                    value="{{repeatedPassword}}"
                    class="col-6">
                </app-input-custom>
                
                <app-input-custom 
                    placeholder="inputs.email.placeholder" 
                    type="text" 
                    value="{{email}}"
                    class="col-6">
                </app-input-custom>
                
                <app-input-custom 
                    placeholder="inputs.birthday.placeholder" 
                    type="text" 
                    value="{{username}}"
                    class="col-6">
                </app-input-custom>
                
                <app-input-custom 
                    type="genre"
                    value="{{genre}}"
                    class="col-12 py-5">
                </app-input-custom>
            </form>
        </div>
    </div>
</div>