
<div class="container pb-5">
    <div class="row">
        <div class="col-12 container-fluid">
            <form #myForm class=" row">
                <app-input-custom 
                    label_text="inputs.name.placeholder" 
                    type="text" aria-sort=""
                    #name
                    class="col-lg-6 col-sm-12">
                </app-input-custom>
                
                <app-input-custom 
                    label_text="inputs.lastname.placeholder" 
                    type="text" 
                    #lastname
                    class="col-lg-6 col-sm-12">
                </app-input-custom>

                <app-input-custom 
                    label_text="inputs.username.placeholder" 
                    type="text" 
                    #username
                    class="col-lg-6 col-sm-12">
                </app-input-custom>

                <app-input-custom 
                    label_text="inputs.documentTypes.placeholder" 
                    type="documentTypes_select" 
                    #document_type
                    class="col-lg-6 col-sm-12">
                </app-input-custom>
                
                <app-input-custom 
                    label_text="inputs.password.placeholder" 
                    type="password" 
                    #password
                    class="col-lg-6 col-sm-12">
                </app-input-custom>

                <app-input-custom 
                    label_text="inputs.document_number.placeholder" 
                    type="number" 
                    #document_number
                    class="col-lg-6 col-sm-12">
                </app-input-custom>

                <app-input-custom 
                    label_text="inputs.repeatedPassword.placeholder" 
                    type="password" 
                    #repeatedPassword
                    class="col-lg-6 col-sm-12">
                </app-input-custom>
                
                <app-input-custom 
                    label_text="inputs.email.placeholder" 
                    type="email" 
                    #email
                    class="col-lg-6 col-sm-12">
                </app-input-custom>
                
                <app-input-custom 
                    label_text="inputs.birthday.placeholder" 
                    type="date" 
                    #birthday
                    class="col-lg-6 col-sm-12">
                </app-input-custom>
                
                <app-input-custom 
                    label_text="inputs.genres.placeholder" 
                    type="genres_select"
                    #genre
                    class="col-lg-6 col-sm-12">
                </app-input-custom>
            </form>
            <div class="row pt-5">
                <span class="col-md-2"></span>
                <div class="col-sm-6 col-md-3 d-flex justify-content-center">
                    <button class="w-100 button_custom cancel" (click)="cancel()"> {{ 'buttons.cancel' | translate }} </button>
                </div>
                <div class="col-sm-6 col-md-5 d-flex justify-content-center">
                    <button class="w-100 button_custom accept" (click)="register()"> {{ 'buttons.signup' | translate }} </button>
                </div>
                <span class="col-md-2"></span>
            </div>
        </div>
    </div>
</div>